<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="list text-center">
        <h1>Cocktail menu</h1>
        <hr/>
        <% @cocktails.each do |cocktail| %>
        <tr>
          <div class = "cocktail">
            <td><%= link_to cocktail.name, cocktail %></td>
          </div>
        </tr>
        <% end %>
      </div>
      <div class = "cocktail text-center">
        <%=  link_to 'New Cocktail', new_cocktail_path %>
      </div>
    </div>
  </div>
</div>
